.home{
    /* background-color: lightgray; */
}
.table_content_input{
    margin-top: 1%;
}
.table_content_input input{
    width: 30px;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.advance_search{
    margin-top: 1%;
    margin-left: 1%;
}
.pagination{
    float: right;
    margin-right: 10%;
}
.advance_search button{
    background-color: limegreen;
    margin-left: 1px;
    border: 1px solid limegreen;
    padding: 3px;
    color:white;
    cursor:pointer;
}