.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.advance_search{
    margin-top: 1%;
    margin-left: 1%;
}
.advance_search button{
    background-color: limegreen;
    margin-left: 1px;
    border: 1px solid limegreen;
    padding: 3px;
    color:white;
    cursor:pointer;
}
.header1 h3{
    margin-top: 16%;
}